<div class="mt-3">
    <form method="post" action="/news">
        <div class="mb-3">
            <label for="txtSearch" class="form-label">Từ khóa</label>
            <input type="text" class="form-control" name="q" id="txtSearch" placeholder="Nhập từ khóa...">
        </div>
        <select class="form-select" aria-label="Default select example" name="gender">
            <option selected>-- Chọn giới tính --</option>
            <option value="male">Nam</option>
            <option value="female">Nữ</option>
        </select>


        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        
    </form>
</div>